<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Admin | @ViewData["Title"]</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/LayoutAdmin//LayoutAdmin/images/favicon.png">

    <!-- Custom Stylesheet -->
    <link href="/LayoutAdmin/css/style.css" rel="stylesheet">
</head>
<body>

    @* Preloader *@
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    @* Main wrapper *@
    <div id="main-wrapper">

        @* Nav header *@
        <div class="nav-header">
            <div class="brand-logo">
                <a asp-controller="Home" asp-action="Index">
                    <b class="logo-abbr"><img src="/LayoutAdmin/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="/LayoutAdmin/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="/LayoutAdmin/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>

        @* Header *@
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
							<form action="#">
								<input type="text" class="form-control" placeholder="Search">
							</form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge gradient-1 badge-pill badge-primary">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 New Messages</span>  
                                    
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="/LayoutAdmin/images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Saiful Islam</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="/LayoutAdmin/images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Adam Smith</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Can you do me a favour?</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="/LayoutAdmin/images/avatar/3.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Barak Obama</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="/LayoutAdmin/images/avatar/4.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Hilari Clinton</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hello</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2 badge-primary">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>  
                                    
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span> 
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">
                                <span>English</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()">English</a></li>
                                        <li><a href="javascript:void()">Dutch</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="/LayoutAdmin/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="email-inbox.html"><i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @* Sidebar *@
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Site</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="About" asp-action="AboutList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Hakkımızda</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Booking" asp-action="BookingList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Rezervasyon</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Contact" asp-action="ContactList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Mesajlar</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Guest" asp-action="GuestList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Misafirler</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Room" asp-action="RoomList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Odalar</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Service" asp-action="ServiceList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Servisler</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Staff" asp-action="StaffList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Personeller</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Subscribe" asp-action="SubscribeList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Aboneler</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Testimonial" asp-action="TestimonialList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Referanslar</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="File" asp-action="Index" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Dosya Yükle</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="WorkLocation" asp-action="WorkLocationList" aria-expanded="false">
                            <i class=""></i><span class="nav-text">Çalışma Alanları</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="UserList" aria-expanded="false">
                            <i class="icon-user menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Role" asp-action="RoleList" aria-expanded="false">
                            <i class="icon-user menu-icon"></i><span class="nav-text">Roller</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="UserListAndWorkLocation" aria-expanded="false">
                            <i class="icon-user menu-icon"></i><span class="nav-text">Kullanıcılar & Çalışma</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="UserLogout" aria-expanded="false">
                            <i class="icon-logout menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        @* Content *@
        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        @* Footer *@
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>

    </div>

    @* Scripts *@
    <script src="/LayoutAdmin/plugins/common/common.min.js"></script>
    <script src="/LayoutAdmin/js/custom.min.js"></script>
    <script src="/LayoutAdmin/js/settings.js"></script>
    <script src="/LayoutAdmin/js/gleek.js"></script>
    <script src="/LayoutAdmin/js/styleSwitcher.js"></script>

</body>

</html>