@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutAdmin";
}

<div class="container-fluid mt-3">

    @await Component.InvokeAsync("DashboardRow1")

    @await Component.InvokeAsync("DashboardRow2")

    @await Component.InvokeAsync("DashboardRow3")
    
    @await Component.InvokeAsync("DashboardRow4")

</div>