@model WorkLocationUpdateDto
@{
    ViewData["Title"] = "Çalışma Alanı Güncelle";
    Layout = "_LayoutAdmin";
}

<form asp-controller="WorkLocation" asp-action="WorkLocationUpdate" method="post">
    <h3>ÇALIŞMA ALANI GÜNCELLE</h3>
    <hr>
    <input type="hidden" asp-for="WorkLocationId">
    <label>Başlık</label>
    <input type="text" asp-for="WorkLocationName" class="form-control">
    <label>Şehir</label>
    <input type="text" asp-for="WorkLocationCity" class="form-control">
    <hr>
    <button type="submit" class="btn btn-success">Kaydet</button>
    <a class="btn btn-outline-dark" asp-controller="WorkLocation" asp-action="WorkLocationList">Geri</a>
</form>